Repository ser574-green-team/taigit, pull requests merged in 2019-04, with the labels that each got.

#44 US139 Task155 API to return task used time
  taigit/src/libraries/Taiga.ts
Labels: taiga-backend

#72 Initial clean up commit
  GitHub/.gitignore
  GitHub/README.md
  GitHub/getPullReqs.js
  GitHub/getPullReqs.ts
  GitHub/package-lock.json
  Taiga/README.md
  Taiga/src/getUserList.ts
  Taiga/src/tsconfig.json
  taigit/src/libraries/Taiga.ts
Labels: taiga-backend

#77 US247Task249 API call return sprint velocity (unit points) based on sprint Id
  taigit/src/libraries/Taiga.ts
Labels: taiga-backend

#81 Us189 t32 check us
  taigit/src/libraries/Taiga.ts
Labels: taiga-backend

#75 Us203 task214 : Connect Taiga/Taiga Tasks component to Taiga API for overview page
  taigit/src/actions/taigaActions.js
  taigit/src/components/Overview.js
  taigit/src/components/Taiga.js
  taigit/src/reducers/taigaReducer.js
  taigit/src/styles/colors.js
Labels: front-end

#87 [US-203 Task: 217-218]: Connected team list to team members page
  taigit/src/components/MemberProfile.js
  taigit/src/components/Team.js
  taigit/src/reducers/githubReducer.js
  taigit/src/reducers/index.js
  taigit/src/reducers/teamReducer.js
  taigit/src/styles/App.scss
  taigit/src/styles/Team.scss
Labels: front-end

#86 Us#111 task#134 - Get Org Members and History of PR
  taigit/src/actions/githubActions.js
  taigit/src/components/GitHub.js
  taigit/src/libraries/GitHub/GitHub.js
  taigit/src/libraries/GitHub/src/auth.ts
  taigit/src/libraries/GitHub/src/getHistoryOfPR.ts
  taigit/src/libraries/GitHub/src/getMemberInfo.ts
Labels: github-backend

#91 US#203 Task#267 Component on UI to show average number of comments on PR
  taigit/package-lock.json
  taigit/src/actions/githubActions.js
  taigit/src/components/GitHub.js
  taigit/src/reducers/githubReducer.js
  taigit/src/reducers/index.js
Labels: front-end

#79 US187Task245 API to return required data type of task assessment by t…
  taigit/src/libraries/Taiga.ts
Labels: taiga-backend

#82 Us189 t233 flag us
  taigit/src/libraries/Taiga.ts
Labels: taiga-backend

#88 US187 Task 246 Return list of task assessment based on user story id
  taigit/src/libraries/Taiga.ts
Labels: taiga-backend

#89 US187Task260 API return list of task assessment based on sprint id
  taigit/src/libraries/Taiga.ts
Labels: taiga-backend

#83 US191T239 Add retrospective checking function
  taigit/src/libraries/Taiga.ts
Labels: taiga-backend

#92 Us206 t266 display builds
  taigit/src/actions/githubActions.js
  taigit/src/components/GitHub.js
  taigit/src/reducers/githubReducer.js
  taigit/src/reducers/index.js
Labels: front-end

#95 Us 196 task 273
  taigit/src/components/GitHub.js
  taigit/src/libraries/GitHub/GitHub.js
  taigit/src/libraries/GitHub/src/codeAnalysis.ts
Labels: github-backend

#103 Us 204 project page
  taigit/src/actions/githubActions.js
  taigit/src/actions/taigaActions.js
  taigit/src/components/GitHub.js
  taigit/src/components/Overview.js
  taigit/src/components/ProjectPanel.js
  taigit/src/components/Projects.js
  taigit/src/components/Taiga.js
  taigit/src/components/Team.js
  taigit/src/libraries/GitHub/GitHub.js
  taigit/src/libraries/GitHub/src/getUserInfo.ts
  taigit/src/libraries/GitHub/src/reposAvailable.ts
  taigit/src/reducers/githubReducer.js
  taigit/src/reducers/index.js
  taigit/src/reducers/taigaReducer.js
  taigit/src/styles/Projects.scss
Labels: front-end

#101 Us 111 task 131 get bytes
  taigit/src/libraries/GitHub/GitHub.js
  taigit/src/libraries/GitHub/src/bytesOfCode.ts
Labels: github-backend

#105 Us 111 task 281
  taigit/src/libraries/GitHub/GitHub.js
  taigit/src/libraries/GitHub/src/codeAnalysis.ts
  taigit/src/libraries/GitHub/src/commitsInWindow.ts
  taigit/src/libraries/GitHub/src/cyclomaticComplexity.ts
  taigit/src/libraries/GitHub/src/numCommitsFromUser.ts
Labels: github-backend

#106 Added functionality to pull Codacy username and show user how to set …
  taigit/src/components/Projects.js
  taigit/src/styles/Projects.scss
Labels: front-end, github-backend

#104 Us#203 task#212
  taigit/src/components/GitHub.js
Labels: front-end

#102 Us193 task#277
  taigit/src/actions/githubActions.js
  taigit/src/libraries/GitHub/GitHub.js
  taigit/src/libraries/GitHub/src/avgComments.ts
  taigit/src/libraries/GitHub/src/branches.ts
  taigit/src/libraries/GitHub/src/commitsInWindow.ts
  taigit/src/libraries/GitHub/src/findBuilds.ts
  taigit/src/libraries/GitHub/src/getHistoryOfPR.ts
  taigit/src/libraries/GitHub/src/getMemberInfo.ts
  taigit/src/libraries/GitHub/src/getUserList.ts
  taigit/src/libraries/GitHub/src/numPullRequests.ts
Labels: front-end, github-backend

#84 Bug fix pagiation
  taigit/src/libraries/GitHub/src/commitsInWindow.ts
Labels: github-backend

#100 add review and planning checking functions
  taigit/src/libraries/Taiga.ts
Labels: taiga-backend

#112 Us203 task270: Show data in the charts as per selected sprint
  taigit/src/components/Taiga.js
  taigit/src/libraries/Taiga.ts
Labels: front-end

#110 Refactored entire library into sensible files
  taigit/src/actions/githubActions.js
  taigit/src/components/Projects.js
  taigit/src/components/Team.js
  taigit/src/libraries/GitHub/GitHub.js
  taigit/src/libraries/GitHub/src/auth.ts
  taigit/src/libraries/GitHub/src/avgComments.ts
  taigit/src/libraries/GitHub/src/builds.ts
  taigit/src/libraries/GitHub/src/bytesOfCode.ts
  taigit/src/libraries/GitHub/src/codeAnalysis.ts
  taigit/src/libraries/GitHub/src/commits.ts
  taigit/src/libraries/GitHub/src/contributorData.ts
  taigit/src/libraries/GitHub/src/contributors.ts
  taigit/src/libraries/GitHub/src/getHistoryOfPR.ts
  taigit/src/libraries/GitHub/src/getUserInfo.ts
  taigit/src/libraries/GitHub/src/members.ts
  taigit/src/libraries/GitHub/src/numPullRequests.ts
  taigit/src/libraries/GitHub/src/pullRequests.ts
  taigit/src/libraries/GitHub/src/users.ts
Labels: github-backend

#97 US247Task259 Create a API to calculate sprint velocity for a project
  taigit/src/libraries/Taiga.ts
Labels: taiga-backend

#117 Added weekly commit grabbing
  taigit/src/libraries/GitHub/GitHub.js
  taigit/src/libraries/GitHub/src/commits.ts
Labels: github-backend

#108 Connected Total Commits component with API
  taigit/src/actions/githubActions.js
  taigit/src/components/Overview.js
  taigit/src/reducers/githubReducer.js
  taigit/src/reducers/index.js
Labels: front-end

#115 Us#203 task#212 api connect
  taigit/src/actions/githubActions.js
  taigit/src/components/GitHub.js
  taigit/src/components/Overview.js
  taigit/src/libraries/GitHub/src/commits.ts
  taigit/src/reducers/githubReducer.js
  taigit/src/reducers/index.js
Labels: front-end

#116 Connected Overview Technologies Component
  taigit/src/components/Overview.js
  taigit/src/reducers/githubReducer.js
  taigit/src/reducers/index.js
Labels: front-end

#119 Refactored a lot of the frontend
  taigit/public/GitHub-Mark-Light-64px.png
  taigit/public/favicon.ico
  taigit/public/index.html
  taigit/public/manifest.json
  taigit/src/App.js
  taigit/src/App.test.js
  taigit/src/actions/githubActions.js
  taigit/src/actions/taigaActions.js
  taigit/src/components/Callback.js
  taigit/src/components/GitHub.js
  taigit/src/components/MemberProfile.js
  taigit/src/components/Overview.js
  taigit/src/components/ProjectPanel.js
  taigit/src/components/Projects.js
  taigit/src/components/SideNavBar.js
  taigit/src/components/Taiga.js
  taigit/src/components/Team.js
  taigit/src/components/charts/HorizBarChart.js
  taigit/src/components/charts/commitPerBranchData.js
  taigit/src/components/charts/commitPerMemberData.js
  taigit/src/components/presentational/NumberDisplay.js
  taigit/src/components/presentational/ScrollableList.js
  taigit/src/components/presentational/TeamMemberCard.js
  taigit/src/reducers/githubReducer.js
  taigit/src/reducers/index.js
  taigit/src/reducers/taigaReducer.js
  taigit/src/reducers/teamReducer.js
  taigit/src/store.js
  taigit/src/styles/App.scss
  taigit/src/styles/NumberDisplay.scss
  taigit/src/styles/Team.scss
  taigit/src/styles/Variables.scss
  taigit/src/utils/utils.js
Labels: front-end
