Repository ser574-green-team/taigit, pull requests merged in 2019-03, with the labels that each got.

#42 Us102 task105: All the task count in a sprint of the Taiga project
  taigit/src/libraries/Taiga.ts
Labels: taiga-backend

#56 Connects Commits Per Member to Redux Store
  taigit/src/actions/githubActions.js
  taigit/src/components/GitHub.js
  taigit/src/libraries/GitHub/GitHub.js
  taigit/src/libraries/GitHub/src/contributorData.ts
  taigit/src/reducers/githubReducer.js
  taigit/src/reducers/index.js
Labels: front-end, github-backend

#46 Sprint Selection Dropdown
  taigit/package-lock.json
  taigit/package.json
  taigit/src/components/Taiga.js
  taigit/src/reducers/index.js
  taigit/src/reducers/taigaReducer.js
  taigit/src/styles/App.scss
Labels: front-end

#58 Styling Branch List Component
  taigit/src/actions/githubActions.js
  taigit/src/components/GitHub.js
  taigit/src/components/ScrollableList.js
  taigit/src/reducers/githubReducer.js
  taigit/src/styles/App.scss
Labels: front-end

#62 Burndown overview
  taigit/src/components/Overview.js
  taigit/src/components/Taiga.js
Labels: front-end

#61 T186 get list of sprints, userstories, and tasks
  taigit/src/libraries/Taiga.ts
Labels: taiga-backend

#48 Connect Taiga Components to Store
  taigit/src/actions/taigaActions.js
  taigit/src/components/Taiga.js
  taigit/src/components/charts/stackedBarChartData.js
  taigit/src/reducers/index.js
  taigit/src/reducers/taigaReducer.js
Labels: front-end

#63 Us 81 landing page
  taigit/.gitignore
  taigit/package-lock.json
  taigit/package.json
  taigit/src/App.js
  taigit/src/actions/githubActions.js
  taigit/src/components/Callback.js
  taigit/src/components/GitHub.js
  taigit/src/components/ProjectPanel.js
  taigit/src/components/Projects.js
  taigit/src/components/SideNavBar.js
  taigit/src/components/charts/HorizBarChart.js
  taigit/src/components/charts/barChartData.js
  taigit/src/components/charts/commitPerBranchData.js
  taigit/src/components/charts/commitPerMemberData.js
  taigit/src/keys.json
  taigit/src/libraries/GitHub/GitHub.js
  taigit/src/libraries/GitHub/src/auth.ts
  taigit/src/reducers/githubReducer.js
  taigit/src/styles/App.scss
  taigit/src/styles/Projects.scss
Labels: front-end

#67 Us85 task174
  taigit/src/components/Taiga.js
  taigit/src/reducers/index.js
  taigit/src/reducers/taigaReducer.js
Labels: front-end

#70 Us85 task175
  taigit/src/actions/taigaActions.js
  taigit/src/components/Taiga.js
  taigit/src/reducers/taigaReducer.js
Labels: front-end

#59 added javadocs for Github functions
  taigit/src/libraries/GitHub/src/branches.ts
  taigit/src/libraries/GitHub/src/commitsInWindow.ts
  taigit/src/libraries/GitHub/src/numCommitsFromUser.ts
Labels: github-backend

#49 Us111 task132
  taigit/src/libraries/GitHub/GitHub.js
  taigit/src/libraries/GitHub/src/getUserList.ts
Labels: github-backend

#45 T165 find pom
  taigit/src/libraries/GitHub/GitHub.js
  taigit/src/libraries/GitHub/src/findBuilds.ts
Labels: github-backend

#69 Us#1 task#185
  taigit/src/libraries/GitHub/GitHub.js
  taigit/src/libraries/GitHub/src/cyclomaticComplexity.ts
Labels: github-backend

#74 Us 194 auth
  taigit/src/App.js
  taigit/src/actions/githubActions.js
  taigit/src/components/Callback.js
  taigit/src/components/GitHub.js
  taigit/src/components/MemberProfile.js
  taigit/src/components/Overview.js
  taigit/src/components/Projects.js
  taigit/src/components/SideNavBar.js
  taigit/src/components/Taiga.js
  taigit/src/keys.json
  taigit/src/libraries/GitHub/src/auth.ts
  taigit/src/libraries/GitHub/src/avgComments.ts
  taigit/src/libraries/GitHub/src/branches.ts
  taigit/src/libraries/GitHub/src/commitsInWindow.ts
  taigit/src/libraries/GitHub/src/contributorData.ts
  taigit/src/libraries/GitHub/src/cyclomaticComplexity.ts
  taigit/src/libraries/GitHub/src/findBuilds.ts
  taigit/src/libraries/GitHub/src/getUserList.ts
  taigit/src/libraries/GitHub/src/numCommitsFromUser.ts
  taigit/src/libraries/GitHub/src/numPullRequests.ts
  taigit/src/reducers/githubReducer.js
  taigit/src/utils/utils.js
Labels: front-end, github-backend

#76 us203-task257: Created this PR to get comments for front end and on redux structure
  taigit/src/actions/taigaActions.js
  taigit/src/components/Taiga.js
  taigit/src/libraries/Taiga.ts
  taigit/src/reducers/taigaReducer.js
Labels: front-end, taiga-backend

#65 Us102t179
  taigit/src/libraries/Taiga.ts
Labels: taiga-backend

#78 us203-task261: Front end to render Task for a single Sprint using Taiga API calls
  taigit/src/actions/taigaActions.js
  taigit/src/components/Taiga.js
  taigit/src/reducers/index.js
  taigit/src/reducers/taigaReducer.js
  taigit/src/styles/colors.js
Labels: front-end
